rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if authenticated(userId);

      match /sessions/{sessionId} {
        allow read: if authenticated(userId);
        allow update: if authenticated(userId)
          && request.resource.data.text is string
          && request.resource.data.userUpdatedAt == request.time
          && request.resource.data.owner == resource.data.owner
          && request.resource.data.repo == resource.data.repo;
      }
    }

    function authenticated(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
  }
}
