rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if authenticated(userId);

      match /sessions/{sessionId} {
        allow read, update: if authenticated(userId);
      }
    }

    function authenticated(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
  }
}
